<div class="hero">
	<div class="container u-full-width">
		<h4 class="hero-heading">The premiere marketplace for lightroom presets</h4>
		<a class="button button-primary" href="http://getskeleton.com">Learn more</a>
	</div>

	<i {{action "scrollToContent"}} class="fa fa-3x fa-chevron-down"></i>
</div>
{{yield}}