<nav class="navbar">
	<div class="container">
		<ul class="navbar-list">
			<li class="navbar-item"><a class="navbar-link" href="/create">Create</a></li>
			<li class="navbar-item"><a class="navbar-link" href="/explore">Explore</a></li>
			<li class="navbar-item navbar-button"><a class="button button-primary" href="/signin">Login</a></li>
		</ul>
	</div>
</nav>
{{outlet}}
