<div class="section hero">
	<div class="container">
		<div class="row">
			<div class="one-half column">
				<h4 class="hero-heading">The premiere marketplace for lightroom presets</h4>
				<a class="button button-primary" href="http://getskeleton.com">Learn more</a>
			</div>
			<div class="one-half column phones">
			</div>
		</div>
	</div>
</div>