$textDark: #212124;
$offWhite: #f5f5f5;
$teal: #33C3F0;

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
}

a {
	text-decoration: none;
	color: $teal;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
	padding: 8rem 0 7rem;
	text-align: center;
}
.section-heading,
.section-description {
	margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
	background-image: url('/assets/hero.jpg');
	background-size: cover;
	text-align: center;
	position: relative;

	.fa-chevron-down {
		color: white;
		opacity: 0.5;
		position: absolute;
		left: 50%;
		margin-left: -22.5px;
		bottom: 5rem;
		cursor: pointer;
	}

	.hero-heading {
		color: white;
	}
}

/* items
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filter-items {
	margin-bottom: 5rem;
	.filter-item {
		p {
			text-align: left;
			color: $textDark;
			margin-bottom: .5em;

		}

		img:first-of-type {
			width: 100%;
			height: 250px;
			margin-bottom: 5px;
		}

		img:nth-of-type(2n), img:nth-of-type(3n) {
			width: calc(50% - 5px);
			height: 120px;
		}

		img:nth-of-type(3n) {
			margin-left: 5px;
		}
	}
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar + .docs-section {
	border-top-width: 0;
}

.navbar,
.navbar-spacer {
	position: fixed;
	display: block;
	width: 100%;
	height: 6.5rem;
	z-index: 99;
	background-color: #212124;
	transition: background-color .3s ease-out;
}

.navbar.top {
	background-color: transparent;
}

.navbar-spacer {
	display: none;
}

.navbar > .container {
	width: 100%;
}

.navbar-list {
	list-style: none;
	margin-bottom: 0;

	.navbar-item {
		position: relative;
		float: left;
		margin-bottom: 0;

		.navbar-link {
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 600;
			letter-spacing: .2rem;
			margin-right: 35px;
			text-decoration: none;
			line-height: 6.5rem;
			color: white;

			.active {
				color: #33C3F0;
			}
		}

		&.login-link {
			float: right;
		}

		&.navbar-button {
			float: right;
			line-height: 6rem;

			.button {
				margin-bottom: 0px;
			}
		}
	}
}

.has-docked-nav .navbar {
	position: fixed;
	top: 0;
	left: 0;
}

.has-docked-nav .navbar-spacer {
	display: block;
}

/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
	width: 80%;
}

footer {
	background-color: $textDark;
	height: 100px;
	width: 100%;
	text-align: center;
	color: $offWhite;
	line-height: 100px;

	p {
		margin: 0;
	}
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 0px) {
	.hero {
		.container {
			padding: 20rem 0 20rem;
		}
	}
}
/* Bigger than 550 */
@media (min-width: 550px) {
	.section {
	}
	.hero {
		.container {
			padding: 30rem 0 20rem;
		}
	}
	.hero-heading {
		font-size: 2.4rem;
	}
}

/* Bigger than 750 */
@media (min-width: 750px) {
	.hero {
	}
	.hero-heading {
		font-size: 2.6rem;
	}
	.section {
	}
	.hero {
		.container {
			padding: 30rem 0 20rem;
		}
	}
	.section-description {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.categories {
		padding: 15rem 0 8rem;
	}
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
	.section {

		.filter-items {
			margin-bottom: 2rem;
		}
	}
	.hero .container {
		padding: 30rem 0 20rem;
	}
	.hero-heading {
		font-size: 3.0rem;
	}
}
